.head {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: auto 0;
}

.description {
  display: flex;
  justify-content: space-around;
}

.opening {
  flex-basis: 25%;
}

.image {
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}
