.header {
  display: flex;
  justify-content: space-around;
}

.logo {
  margin: auto 0;
}

.description {
  display: flex;
  justify-content: space-around;
}

.opening {
  flex-basis: 25%;
}

.image {
  display: flex;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

.gallery {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem
}

.picture {
  flex-basis: 10%;
}

#random-info {
  text-align: center;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  align-self: center;
}

.quote p {
  margin: 0;
  align-self: flex-end;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bottom {
  align-self: center;
}

footer {
  align-self: center;
}